@import './variables';


#day-calendar {
    background: map-get($color-white, 000);
    margin-left: 50px;
    // height: 700px;

    li {
        list-style-type: none;
    }
    .navigation {
        color: $color-primary !important;
        cursor: pointer;
    }
    .navigation:hover {
       color: red !important;
    }
    .calendar-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        height: 42px;
        margin-bottom: 20px;
    }
    .day {
        justify-self: end !important;
        margin-right: 14px;
    }
    .month {
        padding: 10px 15px;
        width: 198px;
        justify-self: start;
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid map-get($color-white, 100);
        border-radius: 21px;
        margin: 8px;
    }
    .month ul {
        margin: 0;
        padding: 0;
        width: 198px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .month ul li {
        color: map-get($color-black, 700);
        font-size: 14px;
        font-family: Verdana, sans-serif;
        line-height: 17px;
        text-align: center;
    }
    .calendar-body {
        width: 100%;
        overflow-x: scroll;
        height: 650px !important;
    }
    .calendar-body::-webkit-scrollbar {
        height: 7px;
        box-sizing: border-box;
        border: 1px solid map-get($color-white, 550);
        border-radius: 5.5px;
        background-color: map-get($color-white, 550);
    }
    .calendar-body::-webkit-scrollbar-thumb {
        &:horizontal{
            height: 6px;
            border-radius: 5.5px;
            background-color:$color-next-button;
        }
    }

    #day-time {
        margin: 0;
        padding: 0;
        border-bottom: 1px dashed map-get($color-white, 550);
    }
    #day-time li {
        color: map-get($color-gray, 0);
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        padding: 8px 0 16px 8px;
        border-left: 1px solid map-get($color-white, 550);
        overflow: auto;
        border-top: 1px solid map-get($color-white, 550);
    }
    #days {
        padding: 0;
        margin: 0;
    }
    #days li {
        list-style-type: none;
        font-size: 12px;
        font-weight: 500;
        color: map-get($color-white, 600);
        height: 32px;
        border-left: 1px solid map-get($color-white, 550);
        border-bottom: 1px dashed map-get($color-white, 550);
        
    }
    #days li.active {
        background: $color-green-light;
        color: map-get($color-white, 000) !important;
    }

    .event {
        margin: 0.2rem 0rem;
        border-radius: 5px;
        background-color: rgba(44,124,241,0.11);
        padding: 5px 10px;
        color: map-get($color-black, 700);
        position: absolute;
        font-family: Verdana, sans-serif;
        font-size: 12px;
        line-height: 15px;

        span {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
.event span a{
    color: map-get($color-black, 700);
}
    #days,
    #day-time {
        display: grid;
        grid-template-columns: repeat(24, [col] 150px);
        grid-template-rows: 1fr;
        position: relative;
    }
} 
