#week-calendar {
    background: #ffff;
    padding: 20px;
    .calendar-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        margin-bottom: 20px;
    }
    .month {
        padding: 10px 15px;
        height: 42px;
        width: 219px;
        text-align: center;
        border: 1px solid #F0F1F1;
        border-radius: 21px;
    }
    .month ul {
        margin: 0;
        padding: 0;
        width: 189px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-template-rows: 1fr;
    }
    .month ul li {
        color: #333A3F;
        font-size: 14px;
        // text-transform: uppercase;
        letter-spacing: 3px;
    }
    #weekdays {
        margin: 0;
        padding: 0;
        border-bottom: 1px dashed #E3E6E7;
        // border-left: 1px solid #E3E6E7;
    }
    #weekdays li {
        color: #838D93;
        padding: 8px 0 16px 8px;
        border-left: 1px solid #E3E6E7;
        // text-align: center;
    }
    #days {
        padding: 0;
        margin: 0;
        height: 361px;
        overflow: auto;
    }
    #days li {
        list-style-type: none;
        // text-align: center;
        // text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        color: #838D93;
        // padding: 15px;
        height: 19px;
        border-left: 1px solid #E3E6E7;
        border-bottom: 1px dashed #E3E6E7;
        // display: flex;
    }

    #days li.active {
        background: #1abc9c;
        color: white !important;
    }

    .event {
        margin: 0 0.2rem;
        border-radius: 5px;
        background-color: rgba(44,124,241,0.11);
        padding: 5px 10px;
        color: #333A3F;
        overflow: hidden;
        
        span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    /* Add media queries for smaller screens */
    // @media screen and (max-width: 720px) {
    //     .weekdays li,
    //     #days li {
    //         width: 13.1%;
    //     }
    // }
    // @media screen and (max-width: 420px) {
    //     .weekdays li,
    //     #days li {
    //         width: 12.5%;
    //     }
    //     #days li .active {
    //         padding: 2px;
    //     }
    // }
    // @media screen and (max-width: 290px) {
    //     .weekdays li,
    //     #days li {
    //         width: 12.2%;
    //     }
    // }
    #weekdays {
         display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #days {
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        // grid-template-rows: 1fr;
        display: flex;
        flex-wrap: wrap;
        li {
            width: (100% / 7);
            display: flex;
        }
    }
    @media all and (-ms-high-contrast: none) {
        #days {
            display: -ms-grid;
            -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }
}